body {
	padding-top: 15px;
	background: silver;
	font-family: futura;
}

header {
	margin-bottom: 15px;
}

#header {
	font-size: 100px;
	text-align: center;
	font-family: futura;
	font-style: italic;
	padding-bottom: 180px;
}

#songLink a{
	font-size: 25px;
	font-family: futura;
	text-decoration: none;
	color: black;
}

#back {
	float: left;
	background: purple;
	font-family: futura;
	font-size: 20px;
	border: none;
	margin-left: 8px;
	color: white;
}