#header {
	font-size: 80px;
	text-align: center;
	font-family: Lucida Console;
	padding-bottom: 20px;
	color: #f2f2f2;

}

body {
  	padding-top: 15px;
  	
  	background: #2C3E50; /* For browsers that do not support gradients */
	 background: -webkit-linear-gradient(#2C3E50, #FD746C); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(#2C3E50, #FD746C); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(#2C3E50, #FD746C); /* For Firefox 3.6 to 15 */
	 background: linear-gradient(#2C3E50, #FD746C); /* Standard syntax */
  	font-family: Lucida Console;
}

#cloudPane {
	text-align: center;
	min-height: 300px;
	margin-bottom: 10px;
}

#cloudBox {
	width: 800px;
	margin: 0 auto;
	font-size: 30px;
	color: #f0f0f0;
}

#generating {
	padding-top: 100px;
}

#innerCloud {
	background: white;
	padding: 10px;
}

#inputPane {
	width: 65%;
	margin: 0 auto;
}

#author_title {
	padding-bottom: 15px;
  	font-family: Lucida Console;
	font-size: 50px;
	color: #F2F2F2;
}


#inputBox {
	float: left;
	width: 400px;
	height: 40px;
	border: 3px solid #2C3E50;
	margin-left: 150px;
	margin-bottom: 8px;
	font-size: 20px;
}

#submitButton {
	float: left;
	background: #2C3E50;
	font-family: Lucida Console;
	font-size: 20px;
	margin-left: 8px;
	color: #F2F2F2;
	border: none;
}
	

#addMoreButton {
	visibility: hidden;
	float: left;
	background: purple;
	font-family: futura;
	font-size: 20px;
	margin-left: 8px;
	color: white;
	border: none;
	
}

#shareToFacebookButton {
	visibility: hidden;
	float: left;
	background: purple;
	font-family: futura;
	font-size: 20px;
	margin-left: 8px;
	color: white;
	border: none;
}